.seat-selection-page {
  padding: 20px;
  margin: auto;
  max-width: 550px;
  width: 100%;
  min-height: 86vh;
  user-select: none;
}

.header {
  text-align: center;
  padding: 10px 0;
  background-color: #800000;
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.header h1 {
  margin: 0;
}

.seat-selection-page .bus-card {
  max-width: 100%;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bus-details {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.bus-details h2 {
  font-size: 1.5em;
  color: #800000;
}

.bus-details p {
  font-size: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bus-seats {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 250px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.seat-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
  width: 250px;
  justify-items: center;
}

.seat {
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  text-align: center;
  line-height: 40px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.seat:hover {
  background-color: #ffe6e6;
  border-color: #800000;
}

.seat.selected {
  border: 2px solid red;
}

.seat.current-user {
  background-color: green;
  color: white;
  cursor: pointer;
}

.seat.reserved {
  background-color: #002ab3;
  color: white;
  cursor: not-allowed;
}

.seat.reserved-for-current-user {
  background-color: #002ab3;
  color: white;
  cursor: pointer;
}

.seat.booked {
  background-color: #b30000;
  color: white;
  cursor: not-allowed;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.confirm-btn {
  background-color: #800000;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1.1em;
  cursor: pointer;
  width: 100%;
}

.confirm-btn-transition-enter {
  opacity: 0;
  transform: translateY(10px);
}

.confirm-btn-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease, transform 300ms ease;
}

.confirm-btn-transition-exit {
  opacity: 1;
  transform: translateY(0);
}

.confirm-btn-transition-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 300ms ease, transform 300ms ease;
}

.confirm-btn:hover {
  background-color: #b30000;
}

.seat-confirmation {
  margin-top: 20px;
  font-size: 1.2em;
  color: #800000;
}

.payment-bar {
  margin-top: 20px;
  background-color: #800000;
  padding: 10px;
  text-align: center;
  color: white;
}

.proceed-btn {
  background-color: #800000;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1.1em;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.proceed-btn:hover {
  background-color: #b30000;
}

.proceed-btn:disabled {
  background-color: #f0f0f0;
  color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .seat-selection-page {
    max-width: 400px;
    padding-top: 3cap;
  }
  .seat-selection-page .bus-card {
    display: flex;
    flex-direction: column;
  }
  .bus-details {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .bus-data {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 15px;
  }
}

@media (max-width: 300px) {
  .seat-selection-page .bus-card {
    overflow: hidden;
    max-height: 65vh;
  }
  .bus-details {
    justify-content: center;
    overflow: hidden;
  }
  .bus-data {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
  }
}