.passengers-page {
  min-height: 90vh;
  padding: 0.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fdfdfd;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  overflow-x: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

/* Table */
.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.passenger-table {
  width: 100%;
  table-layout: auto; /* allow flexible width */
  border-collapse: collapse;
  min-width: 330px;
}

.passenger-table th,
.passenger-table td {
  border: 1px solid #ccc;
  padding: 0.5rem 0rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 10px;
}

.passenger-table th {
  background-color: #3498db;
  color: white;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* You can target specific columns by index */
.passenger-table th:last-child,
.passenger-table td:last-child {
  width: 80px; /* Smaller width for Action buttons */
}

.passenger-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.passenger-table tr:hover {
  background-color: #f0f8ff;
}


/* No Data */
.no-data {
  text-align: center;
  color: #777;
  font-style: italic;
  margin-top: 1.5rem;
}
