.dashboard-cards{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    user-select: none;
}


.dashboard-card{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 2px solid var(--secondary-hover);
    border-radius: 25px;
    box-shadow: 0 4px 8px var(--box-shadow);
    padding: 20px;
    width: 200px;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.dashboard-container .bus-number {
    width: 100px;
    font-size: 15px; /* Slightly larger text */
    font-weight: bold;
    color: var(--text-color); /* Red color for emphasis */
    background-color: #ffffff; /* Light red background */
    padding: 4px 12px; /* Adjusted padding */
    border: 1px solid #2f97d3; /* Decreased border width */
    border-top: 9px solid #2f97d3; /* Decreased border width */
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.40);
    text-transform: uppercase;
    text-align: center;
}
@media screen and (max-width: 500px){
    .dashboard-cards{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
}

  