.verification-page {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* OTP Form Styling */
.otp-Form {
  width: 310px;
  height: fit-content;
  background-color: var(--form-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  gap: 25px;
  position: relative;
  box-shadow: 0px 0px 20px var(--shadow-color);
  border-radius: 12px;
}

.mainHeading {
  font-size: 1.1em;
  color: var(--primary-hover);
  font-weight: 700;
}

.otpSubheading {
  font-size: 0.7em;
  color: var(--text-color);
  line-height: 17px;
  text-align: center;
}

/* OTP Input Fields */
.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.inputContainer input{
  padding: 7px;
}

.otp-input {
  background-color: var(--background-color);
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid var(--input-border);
  border-radius: 7px;
  caret-color: var(--primary-hover);
  color: var(--text-color);
  outline: none;
  font-weight: 600;
}

.otp-input:focus,
.otp-input:valid {
  background-color: rgba(127, 129, 255, 0.199);
  transition-duration: 0.3s;
}

/* Verify Button */
.verifyButton {
  width: 95%;
  height: 35px;
  border: none;
  background-color: var(--secondary-hover);
  color: var(--button-text);
  font-weight: 600;
  cursor: pointer;
  border-radius: 6px;
  transition-duration: 0.2s;
}

.verifyButton:hover {
  background-color: var(--primary-hover);
  transition-duration: 0.2s;
}
.password-input{
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#password{
  width: 100%;
}

/* Exit Button */
#exitBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  box-shadow: 0px 0px 20px var(--shadow-color);
  background-color: var(--form-background);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: none;
  color: var(--text-color);
  font-size: 1.1em;
  cursor: pointer;
  padding: 0;
}

/* Resend OTP Section */
.resendNote {
  font-size: 0.7em;
  color: var(--text-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.resendBtn {
  background-color: transparent;
  border: none;
  color: var(--primary-hover);
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 700;
}

.resendBtn:hover {
  color: var(--secondary-hover);
  background-color: transparent;
}
