.payment-success-container {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  width : 100%;
}

.payment-success-container h1 {
  display: block;
  color: #8e3838;
  font-size: 1.6rem;
  margin-bottom: 20px;
  text-align: center;
}

.payment-success-container p {
  color: #555;
  font-size: 1.1rem;
  margin-bottom: 15px;
}


