/* Styling for the Signup Component */
.register-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.register-container {
  width: 385px;
  max-width: 400px;
  margin: auto;
  padding: 30px;
  background-color: var(--form-background);
  border-radius: 8px;
  box-shadow: 0 4px 12px var(--shadow-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

.register-container h2 {
  text-align: center;
  color: var(--primary-hover);
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.register-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-container label {
  font-size: 14px;
  font-weight: bold;
  color: var(--text-color);
}

.register-container input {
  padding: 12px;
  font-size: 14px;
  border: 1px solid var(--input-border);
  border-radius: 6px;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.register-container input:focus {
  outline: none;
  border-color: var(--primary-hover);
  box-shadow: 0 0 5px rgba(183, 28, 28, 0.4);
}

.register-container button {
  padding: 12px;
  font-size: 16px;
  background-color: var(--secondary-hover);
  color: var(--button-text);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.register-container button:hover {
  background-color: var(--primary-hover);
  transform: scale(1.02);
}

.register-container button:active {
  background-color: var(--secondary-hover);
  transform: scale(0.98);
}

.register-container a {
  text-align: center;
  display: block;
  margin-top: 15px;
  color: var(--primary-hover);
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.register-container a:hover {
  color: var(--secondary-hover);
}

@media (max-width: 500px) {
  .register-container {
    padding: 20px;
    box-shadow: 0px 2px 8px var(--shadow-color);
  }

  .register-container h2 {
    font-size: 20px;
  }

  .register-container input,
  .register-container button {
    font-size: 14px;
  }
}

/* Eye Toggle Style for Password */
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
  padding-right: 30px;
  /* Make space for the eye icon */
}

.password-toggle {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: var(--text-color);
}

.password-toggle:hover {
  color: var(--primary-hover);
}

/* Error Message Styling */
.error {
  color: #d32f2f;
  font-size: 11px;
  margin-top: -5px;
  margin-left: 7px;
}