/* General reset for margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container for the form */
.add-bus {
  width: 95%;
  max-width: 400px;
  margin: 0px auto;
  padding: 30px;
  background-color: var(--form-background);
  border-radius: 8px;
  box-shadow: 0 5px 15px var(--shadow-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}

/* Form header */
.add-bus h1 {
  text-align: center;
  color: var(--primary-hover);
  margin-bottom: 20px;
}

/* Input fields */
.add-bus input,
.add-bus select {
  width: 100%;
  padding: 12px;
  margin-bottom: 0.5rem;
  border: 1px solid var(--input-border);
  border-radius: 6px;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: border-color 0.3s, background-color 0.3s;
}

.add-bus input::placeholder,
.add-bus select {
  font-size: 0.8rem;
  color: #666262;
}

.add-bus label {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-color);
  text-align: left;
  align-self: flex-start;
  margin-left: 3px;
  margin-bottom: 3px;
}

/* Input and select focus and hover effects */
.add-bus input:focus,
.add-bus select:focus {
  border-color: var(--primary-hover);
  background-color: var(--form-background);
  outline: none;
}

.add-bus input:hover,
.add-bus select:hover {
  background-color: #e9ecef;
}

.form-navigation {
  height: 50px;
  display: grid;
  grid-template-columns: 20% 80%;
  width: 85%;
  margin: auto;
  gap: 15px;
}

/* Button styling */
.add-bus button {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-hover);
  color: var(--button-text);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-bus button:hover {
  background-color: var(--primary-hover);
  transform: translateY(-2px);
}

.add-bus button:active {
  transform: translateY(1px);
}

#quick-add-btn {
  border-radius: 50%;
  text-align: center;
  padding: 0;
  margin: auto;
  max-width: 50px;
  font-size: 13px;
}

.add-bus-btn {
  text-align: center;
  padding: 0;
  margin: auto;
  margin-top: 0;
}

/* Responsive design */
@media (max-width: 768px) {
  .add-bus {
    padding: 20px;
    margin: 20px auto;
  }

  .add-bus h2 {
    font-size: 22px;
  }

  .add-bus input,
  .add-bus select {
    font-size: 14px;
  }
}

/* Input fields group (spacing between inputs) */
.add-bus .input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* To make each label/input group align well */
.add-bus .input-group input,
.add-bus .input-group select {
  flex: 1;
  min-width: 48%;
}

/* Error messages */
.add-bus .error {
  color: #da1111;
  font-size: 14px;
  margin-top: 10px;
}
