/* Layout for the Find Buses button */
span {
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary-hover);
}

.bus-list-page {
  min-height: 86vh;
}

/* Basic layout for the bus list */
.bus-list {
  padding: 9px;
  background-color: var(--background-color);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* Each bus container style */
.bus-container {
  background-color: var(--form-background);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-color);
  transition: all 0.3s ease;
  max-width: 400px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bus-container:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px var(--shadow-color);
}

/* Styling for each bus detail paragraph */
.bus-container p {
  font-size: 16px;
  margin: 5px 0;
  color: var(--text-color);
}

/* Header styling */
.bus-container h1 {
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 15px;
}

/* Styling for the Find Buses button */
.show-buses-btn {
  background-color: var(--primary-hover);
  color: var(--button-text);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: auto;
  margin-bottom: 1rem;
  width: fit-content;
  text-align: center;
}

.show-buses-btn:hover {
  background-color: var(--secondary-hover);
}

/* Styling for Delete Bus button */
.delete-button {
  background-color: var(--secondary-hover);
  color: var(--button-text);
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.delete-button:hover {
  background-color: var(--primary-hover);
}

/* Loading message styling */
.bus-list p {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
}

/* Styling when no buses are found */
.bus-list p {
  color: #888;
  font-size: 18px;
}

.booked-users {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--background-color);
}

.booked-users h3 {
  margin-bottom: 5px;
  font-size: 18px;
  color: var(--text-color);
}

.booked-users ul {
  list-style: none;
  padding: 0;
}

.booked-user {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid var(--input-border);
}

.user-name {
  font-weight: bold;
  color: var(--primary-hover);
  margin-right: 10px;
}

.user-phone {
  color: var(--text-color);
  font-style: italic;
}
