.edit-bus-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
}

.edit-bus-form {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.edit-bus-form h1 {
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.time-group {
  display: flex;
  gap: 10px;
}

.location-group {
  display: flex;
  gap: 10px;
}

.edit-bus-form input,
.edit-bus-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  background-color: #f9f9f9;
}

.edit-bus-form button {
  width: 100%;
  padding: 12px;
  background: var( --primary-color);
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.edit-bus-form button:hover {
  background: var(--primary-color-dark);
}