body, html {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column; /* Arrange content vertically */
}
footer{
    width: 100%;
    height: 8vh;
    color: white;
    background-color: #fff;
    z-index: -1;
}