.ticket-summary-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 86vh;
  background-color: var(--background-color);
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;
}

/* Summary Container */
.summary-container {
  background-color: var(--form-background);
  border-radius: 16px;
  padding: 25px 40px;
  max-width: 90vw;
  box-shadow: 0 12px 24px var(--shadow-color);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: auto;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  column-gap: 10px;
  animation: fadeIn 0.8s ease-in-out;
}

.summary-container .section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary-container h1 {
  color: var(--primary-color);
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.summary-container .section-title {
  font-size: 1.6rem;
  color: var(--text-color);
  font-weight: 600;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.summary-container p {
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
}

/* Ticket Details */
.summary-container .details {
  font-size: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

.summary-container .section:nth-child(3) .details,
.summary-container .section:nth-child(4) .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary-container .section:nth-child(5) {
  grid-column: span;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary-container .details-title {
  text-align: left;
  font-size: 0.8rem;
  padding: 10px;
  display: block;
  color: var(--primary-color);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.summary-container .details p {
  text-align: center;
  font-size: 0.9rem;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* CTA Button */
.summary-container .cta-button {
  background-color: var(--primary-color);
  color: var(--button-text);
  padding: 16px 35px;
  font-size: 1.3rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  max-width: 250px;
  display: block;
  margin: 0 auto;
}

.summary-container .cta-button:hover {
  background-color: var(--primary-hover);
  transform: translateY(-4px);
}

/* Footer */
.summary-footer {
  font-size: 1rem;
  color: var(--text-color);
}

.summary-footer p {
  font-size: 1rem;
  color: var(--text-color);
  margin-top: 20px;
  line-height: 1.5;
  text-align: center;
}

.summary-footer a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.summary-footer a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 540px) {
  .summary-container {
    max-width: 100%;
  }

  .summary-container h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 460px) {
  .summary-container {
    grid-template-columns: 1fr;
  }
}

/* Fade In Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
