.ticket-summary-page {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%;
  height: 86vh; /* Full viewport height */
  background-color: #f8f8f8; /* Optional: Light background for contrast */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  box-sizing: border-box; /* Ensure padding and borders are included in dimensions */
  overflow: hidden; /* Hide any overflowing content */
  padding: 30px;
  user-select: none;
}

/* Main Summary Container */
.summary-container {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 25px 40px;
  max-width: 90vw;
  /* max-height: 70vh; */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: auto;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  column-gap: 10px;
}

.summary-container .section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .summary-container:hover {
  transform: translateY(-5px); 
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);  
} */

.summary-container h1 {
  color: #920000;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.summary-container .section-title {
  font-size: 1.6rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 12px;
  text-transform: uppercase; /* Add professionalism */
}

.summary-container p {
  color: #555;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
}

.summary-container .details {
  font-size: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  text-align: center;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  /* border: 1px solid #920000; */
}

.summary-container .section:nth-child(3) .details,
.summary-container .section:nth-child(4) .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary-container .section:nth-child(5) {
  grid-column: span;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary-container .details-title {
  text-align: left; /* Ensure all details are aligned left */
  font-size: 0.8rem;
  padding: 10px;
  display: block;
  color: #920000;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: fit-content;
}

/* .summary-container .details-title::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #920000;
} */

.summary-container .details p {
  text-align: center; /* Ensure all details are aligned left */
  font-size: 0.9rem;
  overflow-wrap: break-word; /* Forces text to break within the container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.summary-container .cta-button {
  background-color: #920000;
  color: #fff;
  padding: 16px 35px;
  font-size: 1.3rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.summary-container .cta-button:hover {
  background-color: #920000;
  transform: translateY(-4px);
}

.summary-footer {
  font-size: 1rem;
  color: #888;
}

.summary-footer p {
  font-size: 1rem;
  color: #888;
  margin-top: 20px;
  line-height: 1.5;
  text-align: center;
}

.summary-footer a {
  color: #920000;
  text-decoration: none;
  font-weight: bold;
}

.summary-footer a:hover {
  text-decoration: underline;
}

@media (max-width: 540px) {
  .summary-container {
    max-width: 100%;
  }

  .summary-container h1 {
    font-size: 2.2rem;
  }
}


@media (max-width: 460px) {
  .summary-container{
    grid-template-columns: 1fr;
  }
}


/* Optional Animation for the Summary Box */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.summary-container {
  animation: fadeIn 0.8s ease-in-out;
}
