.payment-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.payment-form {
  display: flex;
  flex-direction: column;
}

.payment-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Hide up/down arrows on number inputs */
.payment-form input[type="number"]::-webkit-outer-spin-button,
.payment-form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.payment-form input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.cta-button {
  padding: 15px;
  background-color: 800000; /* Dark Red */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cta-button:hover {
  background-color: #8b0000; /* Darker Red */
}
