/* Styling for the Login Component */
.login-container {
  height: 100vh;
  padding: 10vh 8vw;
  background-color: var(--form-background);
  border-radius: 8px;
  color: var(--text-color);
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container .login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 15px;
  justify-content: center;
  box-shadow: 0px 4px 12px var(--shadow-color);
  border-radius: 8px;
  background-color: var(--form-background);
}

.login-container h2 {
  text-align: center;
  color: var(--primary-hover);
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.login-container .login-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-container label {
  font-size: 14px;
  font-weight: bold;
  color: var(--text-color);
}

.login-container input {
  padding: 12px;
  font-size: 14px;
  border: 1px solid var(--input-border);
  border-radius: 6px;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.login-container input:focus {
  outline: none;
  border-color: var(--primary-hover);
  box-shadow: 0 0 5px rgba(183, 28, 28, 0.4);
}

.login-container button {
  padding: 12px;
  font-size: 16px;
  background-color: var(--secondary-hover);
  color: var(--button-text);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-container button:hover {
  background-color: var(--primary-hover);
  transform: scale(1.02);
}

.login-container button:active {
  background-color: #770404;
  transform: scale(0.98);
}

.login-container a {
  text-align: center;
  display: block;
  margin-top: 9px;
  color: var(--text-color);
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.login-container a:hover {
  color: #555555;
}

.actions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 500px) {
  .login-container h2 {
    font-size: 24px;
  }

  .login-container input,
  .login-container button {
    font-size: 14px;
  }
}
